.movie {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 350px;
  height: 700px;
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10%;
  background-color: rgb(88, 88, 88);
  text-align: center;
  color: white;
  border-radius: 15px;
}

.movie > ul {
  list-style: none;
}
.movie > h2 > a {
  all: unset;
  cursor: pointer;
}
.movie > h2 > a:hover {
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
@media screen and (max-width: 1366px) {
  .movie {
    margin-left: 80px;
  }
}
